.homeWrapper {
	display: flex;
	justify-content: space-between;
	background-color: #ccc;
}

.sectionWrapper {
	padding: 30px;
	width: 70%;
}

.title {
	font-size: 25px;
	font-weight: 500;
	margin-bottom: 50px;
}

.highlight {
	font-weight: 700;
}
