.settingsWrapper {
	width: 100%;
}

.contentWrapper {
}

.header {
	background-color: #dce0e1;
	height: 150px;
	padding: 40px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.title {
	font-size: 30px;
}
