.modalWrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 550px;
	height: 530px;
	border-radius: 10px;
	background-color: #fff;
}

.modalHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.modalHeader:before {
	content: "";
	position: absolute;
	bottom: -10px;
	width: 100%;
	height: 1px;
	border-radius: 5px;
	background-color: #b7b6b6;
}

.modalTitle {
	font-weight: 700;
	font-size: 18px;
	padding: 20px 20px 0;
}


.closeWrapper {
	padding: 20px 20px 0;
}

.closeIcon {
	width: 25px;
	color: #b7b6b6;
}

.modalFieldsWrapper {
	display: flex;
	padding: 20px 20px 0;
	flex-direction: column;
}

.modalLabel {
	font-weight: 500;
	margin-bottom: 10px;
}

.modalField {
	margin-bottom: 20px;
	font-size: 0.9rem;
	background-color: transparent;
	width: 100%;
	height: 100%;
	padding-inline: 0.5em;
	padding-block: 0.7em;
	border: 1px solid #b7b6b6;
	border-radius: 5px;
}

.modalField::placeholder {
	color: #b7b6b6;
}


.footerModal {
	position: relative;
	display: flex;
	justify-content: flex-end;
}

.footerModal:before {
	content: "";
	position: absolute;
	top: -15px;
	height: 1px;
	border-radius: 5px;
	width: 100%;
	background-color: #b7b6b6;
}

.buttonWrapper {
	padding: 0 20px 15px 0;
}

.agreeButton {
	outline: none;
	border: none;
	background-color: #3391fc;
	color: #fff;
	font-weight: 500;
	padding: 8px 15px;
	border-radius: 3px;
}

.cancelButton {
	border: 1px solid #b7b6b6;
	background-color: #fff;
	font-weight: 500;
	padding: 8px 15px;
	border-radius: 3px;
	margin-right: 10px;
}
