.formWrapper {
	display: flex;
	justify-content: center;
	height: 100vh;
	align-items: center;
}

.formBlock {
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
	background-color: var(--auth-color);
	width: 550px;
	margin: 30px;
	padding: 20px;
	border-radius: 10px;
}

.link {
	font-weight: 500;
	cursor: pointer;
	color: var(--primary-color);
}

.formTitle {
	position: relative;
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 20px;
	color: var(--primary-color);
}

.fieldsWrapper {
	display: flex;
	padding: 40px 40px 0;
	flex-direction: column;
	justify-content: center;
}

.formLabel {
	font-weight: 500;
	margin-bottom: 5px;
	position: relative;
	color: var(--primary-color);
}

.formField {
	margin-bottom: 30px;
	font-size: 0.9rem;
	width: 100%;
	height: 50px;
	padding-inline: 0.8em;
	padding-block: 0.7em;
	background: var(--input-background-color);
	outline: none;
	border: none;
	border-radius: 10px;
	color: var(--primary-color);
}

.formField::placeholder {
	color: var(--secondary-color);
}

.formError {
	color: #f00;
	font-size: 14px;
	position: absolute;
	bottom: -75px;
}

.serverError {
	color: #f00;
	font-size: 14px;
}

.buttonWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	margin-top: 40px
}

.agreeButton {
	outline: none;
	border: 2px solid var(--accent-color);
	background-color: var(--accent-color);
	color: var(--background-color);
	font-weight: 500;
	padding: 10px 20px;
	border-radius: 8px;
	cursor: pointer;
}

.closeIcon {
	width: 25px;
	color: var(--secondary-color);
}
