.timerWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 120px;
    color: #fff;
}

.timeline {
    text-align: center;
}

.date {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 4px;
}

.nameDate {
    font-size: 12px;
    color: #a6a5b4;
    text-transform: uppercase;
}
