.form button {
    border: none;
    background: none;
    color: #000;
}

.form {
    --timing: 0.3s;
    --width-of-input: 250px;
    --height-of-input: 50px;
    --border-height: 2px;
    --input-bg: #f2f4f8;
    --border-radius: 10px;
    --after-border-radius: 1px;

    position: relative;
    width: var(--width-of-input);
    height: var(--height-of-input);
    display: flex;
    align-items: center;
    padding-inline: 0.8em;
    border-radius: var(--border-radius);
    transition: border-radius 0.5s ease;
    background: var(--input-bg);
}

.input {
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
}

input:focus {
    outline: none;
}

.reset {
    border: none;
    background: none;
    opacity: 0;
    visibility: hidden;
}

input:not(:placeholder-shown) ~ .reset {
    opacity: 1;
    visibility: visible;
}

input::placeholder {
    color: #000;
    font-weight: 500;
}

.form svg {
    width: 17px;
    margin-top: 3px;
}
