.modalContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: auto;
}

.footerModal {
	position: relative;
	display: flex;
	justify-content: flex-end;
}

.buttonWrapper {
	padding: 0 40px 40px 0;
}

.cancelButton {
	border: 2px solid #eaeaea;
	background-color: #fff;
	font-weight: 500;
	padding: 10px 20px;
	border-radius: 8px;
	margin-right: 10px;
	cursor: pointer;
}
