.sidebarWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 500px;
	background: url('../../assets/images/clouds_bg.jpg') no-repeat;
	background-size: cover;
	padding: 30px;
	min-height: 100vh;
	position: relative;
}
