.sidebarWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 500px;
	background: var(--sidebar-background-image);
	padding: 30px;
	min-height: 100vh;
	position: relative;
}
