.weatherWrapper {
	display: flex;
	flex-wrap: wrap;
	column-gap: 40px;
	row-gap: 40px;
	text-align: center;
	margin-top: 40px;
	max-width: 1130px;
	max-height: 350px;
	overflow-y: auto;
}

.weatherCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 120px;
	height: 150px;
}

.weatherDay {
	color: #b7b6b6;
	margin-bottom: 10px;
}

.weatherTemp {
	font-weight: 500;
}

.weatherImage {
	font-size: 45px;
	margin: 20px 0;
}

.noDataIcon {
	font-size: 45px;
	color: #ccc;
	margin-top: 20px;
}
