.weatherWrapper {
	display: flex;
	flex-wrap: wrap;
	column-gap: 40px;
	row-gap: 40px;
	text-align: center;
	margin-top: 40px;
	max-width: 1130px;
	max-height: 350px;
	overflow-y: auto;
}

.weatherWrapper::-webkit-scrollbar {
	width: 10px;
}

.weatherWrapper::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: var(--scrollbar-color);
}

.weatherCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 120px;
	height: 150px;
	color: var(--primary-color);
}

.weatherDay {
	margin-bottom: 10px;
}

.weatherDate {
	color: var(--secondary-color);
}

.weatherTemp {
	font-weight: 500;
}

.weatherImage {
	font-size: 45px;
	margin: 20px 0;
}

.noDataIcon {
	font-size: 45px;
	color: var(--secondary-color);
	margin-top: 20px;
}
