.button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 200px;
	outline: none;
	border: none;
	font-weight: 500;
	cursor: pointer;
}

.button .buttonIcon {
	width: 25px;
}
